<section class="instructions">
  <div class="center">
    <h1>
      Let's Install Ruby
    </h1>
  </div>

  <ol>
    <li>
      <p>You've likely just restarted your computer. Open up the <strong>Ubuntu</strong> application you just installed.</p>
      <div class="text-center"><%= image_tag "windows/ubuntu-app.png", class: "img img-responsive" %></div>
      <p>We'll use this Ubuntu app for the remainder of this install wizard and in <%= link_to 'Founder/Hacker', 'https://www.founderhacker.com', target: :_blank %> lectures.</p>
    </li>

    <li>
      <b>Enable Copy/Paste</b>. Right-click the Ubuntu app's title bar, then go to Properties, and check the ability to use Ctrl V/C. <em>Note: in Ubuntu you'll need to use <code>Ctrl + Shift + V/C</code> to copy/paste</em>.
      <%= link_to 'Learn more', 'https://www.howtogeek.com/353200/how-to-enable-copy-and-paste-keyboard-shortcuts-in-windows-10s-bash-shell/', target: :_blank %>.
    </li>

    <li>
      Copy/paste and execute ('enter') the following 2 commands, one at a time.
      <pre><code>sudo apt-get update</code></pre>
<pre><code>sudo apt-get install git-core curl zlib1g-dev build-essential libssl-dev libreadline-dev libyaml-dev libsqlite3-dev sqlite3 libxml2-dev libxslt1-dev libcurl4-openssl-dev software-properties-common libffi-dev</code></pre>
<p>Tip: just triple-click to select everything.</p>
    </li>

    <li>
      Copy/paste and execute ('enter') the following commands, one at a time.
      <pre><code>cd</code></pre>
      <pre><code>git clone https://github.com/rbenv/rbenv.git ~/.rbenv</code></pre>
      <pre><code>echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.bashrc</code></pre>
      <pre><code>echo 'eval "$(rbenv init -)"' >> ~/.bashrc</code></pre>
      <pre><code>exec $SHELL</code></pre>

      <pre><code>git clone https://github.com/rbenv/ruby-build.git ~/.rbenv/plugins/ruby-build</code></pre>
      <pre><code>echo 'export PATH="$HOME/.rbenv/plugins/ruby-build/bin:$PATH"' >> ~/.bashrc</code></pre>
      <pre><code>exec $SHELL</code></pre>
<p>Finally, these last 3 commands will install Ruby:</p>
<pre><code>rbenv install 2.7.1
rbenv global 2.7.1
ruby -v</code></pre>
<p>
  If you experience errors during Step 3, please paste your entire Ubuntu terminal output
  <%= link_to 'here', 'https://build.founderhacker.com/new-topic?title=environment+issue&category=bugs', target: :_blank %>
  (<%= link_to 'F/H students only', 'https://www.founderhacker.com', target: :_blank %>).
</p>
    </li>

    <li>Ruby is now installed! You may also install different versions of Ruby for old and new projects. Now install bundler via:</li>
    <pre><code>gem install bundler</code></pre>
    <pre><code>rbenv rehash</code></pre>
  </ol>
</section>

<%= render partial: "layouts/step_navigation", locals: { hide_troubleshooting: true } %>

<div id="trouble" class="collapse out note">
</div>
